*{
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #612a92;
    color: white;
    justify-content:left;
    width: 100%;
}

header div {
    margin: 0.6%;
}

.iconeMenu {
    margin-top: 20px;
    margin-left: 100px;
}

.iconeMenu span {
    margin-left: 10px;
}

.logo {
    margin-top: 20px;
    margin-left: 40px;
}

.botaoEntrar{
    margin-top: 10px;
    margin-left: 50px;
    max-width: 42px;
}

#barraPesquisa {
    position: relative;
    width: 55%;
    margin-left: 30px;
}

#imagem-lupa{
    position: absolute;
    right: 0px;
    top: 23.5%;
    opacity: 0.3;
}

#txtBusca{
    margin: 0px;
    outline: none;
    float: left;
    background-color: white;
    padding-left: 20px;
    font-size:18px;
    border: none;
    width: 100%;
    border: solid 0,5px;
    border-radius: 50px;
    border-color: white;
    height: 50px;
  }

.alertaPreco {
    margin-top: 25px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border-color: #d1d1d1;
    border-style: solid;
    border-width: thin;
    padding: 15px;
}

.alertaPreco a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 13.5px;
}

.imagem-anuncio {
    margin-left: 90px;
    margin-right: 90px;
    align-items: center;
    background-color: #582c92;
    border-radius: 20px;
    min-width: 400px;
}

.imagem-anuncio #anuncioMobile {
    display: none;
}

.icones {
    display: flex;
    margin-left: 30px;
}

.icones div {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    padding-left: 60px;
    align-items: center;
    border-radius: 50px;
    border-color: #d1d1d1;
    border-style: solid;
    border-width: thin;
    padding: 5px;
    margin-left: 50px;
}

@media only screen and (max-width: 900px) {
    header {
        height: 129.2px;
        position: relative;
    }

    #barraPesquisa {
        position: absolute;
        width: 90%;
        right: 18px;
        bottom: 0px;
    }
    
    .iconeMenu span {
        display: none;
    }

    .imagem-anuncio #anuncioDesktop {
        display: none;
    }

    .imagem-anuncio #anuncioMobile {
        display: block;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
       
        body {
            overflow-x: hidden;
        }

        .iconeMenu {
            margin: 5%;
            position: absolute;
        }

        .logo a {
                 margin: 70%;
        }

        .botaoEntrar {
            margin-left: 40%;
        }
        
        .imagem-anuncio #anuncioMobile {
           width: auto;
           margin: 0px 40px;
           
       }
       .imagem-anuncio {
           margin-left: 40px;
           width: 100%;
       }

       #barraPesquisa {
            margin-bottom: 10px;
       }

       .alertaPreco {
        margin: 40px;
        width: 85%;
        align-self: center;
        padding: 15px;
       }

       .alertaPreco a {
        max-width: 31.5ch;
        overflow: hidden;
        text-overflow: ellipsis clip;
        white-space: nowrap;
       }

       .icones {
        width: auto;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
       }
}