<div class="footer">
    <section class="icones">
      <div>
        <img src="/images/icon-celular.png" alt="celular" />
        <!--ICONE CELULAR-->
        <p>Celular</p>
      </div>
      <!--div celular-->

      <div>
        <img src="/images/icon-notebook.png" alt="notebook" />
        <!--ICONE NOTEBOOK-->
        <p>Notebook</p>
      </div>
      <!--div notebook-->

      <div>
        <img src="/images/icon-tv.png" alt="tv" />
        <!--ICONE TV-->
        <p>TV</p>
      </div>
      <!--div tv-->

      <div>
        <img src="/images/icon-geladeira.png" alt="geladeira" />
        <!--ICONE GELADEIRA-->
        <p>Geladeira</p>
      </div>
      <!--div geladeira-->

      <div>
        <img src="/images/icon-fogao.png" alt="fogao" />
        <!--ICONE FOGAO-->
        <p>Fogão</p>
      </div>
      <!--div fogao-->

      <div>
        <img src="/images/icon-pechincha.png" alt="pechincha" />
        <!--ICONE PECHINCHA-->
        <p>Pechinchas</p>
      </div>
      <!--div pechinchas-->

      <div>
        <img
          id="maiscat"
          src="/images/icon-mais-cat.png"
          alt="mais-categoria"
        />
        <!--ICONE MAIS CATEGORIA-->
        <p>Mais categorias</p>
      </div>
      <!--div mais categorias-->
    </section>
    <!--section icones-->
  </div>
  <!--div footer-->

  <script src="/javascripts/validate-token.js"></script>
  <script src="/javascripts/handle-login-button.js"></script>
  <!-- <script src="/javascripts/login.js"></script> -->
  <!-- <script src="/javascripts/search.js"></script> -->
</body>
</html>
