<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>
      Compare preços no Zoom: Reunimos as melhores ofertas e descontos!
    </title>
  </head>

  <body>
    <header>
      <div class="iconeMenu">
        <img src="/images/icon-menu.png" alt="icone-menu" />
        <!--ICONE DO MENU-->
        <span>Menu</span>
      </div>
      <!--div menu-->

      <div class="logo">
        <a href="/"><img id="logo" src="/images/logo-white.png" /></a>
        <!--LOGO PRINCIPAL-->
      </div>
      <!--div logo-->

      <div id="barraPesquisa">
        <input id="txtBusca" type="text" placeholder="Digite sua busca..." />
        <div id="imagem-lupa">
          <img src="/images/lupa-busca.png" id="btnBusca" alt="Buscar" />
        </div>
        <!--div para a imagem da lupa-->
      </div>
      <!--caixa-buscar-->

      <div class="botaoEntrar">
        <button class="btnEntrar">Entrar</button>
      </div>
      <!--div botaoEntrar-->
    </header>
    <!--fim header-->
  <!-- </body> -->
<!-- </html> -->
