<%- include('header'); -%>
<!-- <div class="modal-container">
  <div class="modal">
    <button class="closeButton">X</button>
    <p>Login</p>
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      class="login-email"
      placeholder="Insira o email"
      value="eve.holt@reqres.in"
    />
    <label for="email">Senha</label>
    <input
      type="password"
      name="senha"
      class="login-password"
      placeholder="Insira o email"
    />
    <span class="messageError"></span>
    <button class="enterButton">Entrar</button>
  </div>
</div>
<!-- <div class="searchContainer">
  <button class="accessButon">Cadastro de usuário</button>
  <button class="accessButon">Publicar conteúdo</button>
  <button class="accessButon">Buscar conteúdo</button>

 <h1>Pesquise seus conteúdos:</h1>
  <div class="searchInput">
    <input
      type="text"
      name="barraPesquisa"
      class="barraPesquisa"
      placeholder="Digite o nome do conteúdo"
    />
    <button class="botaoPesquisa">Pesquisar</button>
  </div>
  <ul class="resultadoPesquisa"></ul>

  <h2>Cadastrar novo usuário</h2>
  <form>
    <label for="email">Email</label>
    <input type="email" name="email" />
    <label for="password">Senha</label>
    <input type="password" name="password" />
  </form>
</div> -->

<div class="container">
  <section class="alertaPreco">
    <a href="#"
      >Saiba como criar um Alerta de Preço para não perder as melhores
      ofertas</a
    >
  </section>
  <!--sectionalertaPreco-->

  <section class="imagem-anuncio">
    <img id="anuncioDesktop" src="/images/capa-anuncio.png" alt="propaganda1" />
    <!--IMAGEM PROPAGANDA-->
    <img
      id="anuncioMobile"
      src="/images/capa-anuncio-mobile.png"
      alt="propaganda2"
    />
    <!--IMAGEM PROPAGANDA-->
  </section>
</div>
<!--div container-->
<%- include('footer'); -%>
